<!-- <mat-toolbar>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>User X</span>
    <span class="example-spacer"></span>
</mat-toolbar> -->

<mat-toolbar>
    <button mat-stroked-button aria-label="Example icon-button with menu icon" (click)="navigateToCourses($event)"> Courses </button>
    <button mat-stroked-button aria-label="Example icon-button with menu icon" (click)="navigateToEstimations($event)"> My estimations </button>
    <span class="example-spacer"></span>
    <span>User X</span>
</mat-toolbar>